@import url(https://fonts.googleapis.com/css2?family=Tagesschrift&display=swap);

/* HEADER */

:root{
    --pink: #ff9fda;
    --green: #9fffb7;
    --white: #fff;
    --light-bg: #f5f5f5;
    --light-color: #666;
    --border:.1rem solid var(--light-color);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
    font-family: 'Tagesschrift', system-ui;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition: .2s linear;
}

::-webkit-scrollbar{
    width: 1rem;
    height: .5rem;
}

::-webkit-scrollbar-track{
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    background-color: var(--pink);
}


html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6.5rem;
}

body{
    background: var(--light-bg)
}

section{
    padding: 2rem;
    margin: 0 auto;
    max-width: 1200px;
}


/* Settingan warna dan font tulisan 'Best Seller' */
.product-section-container h1 {
    color: deeppink;
    font-weight: 500;
    font-size: 50px;
    margin-top: 100px;
    text-align: center;
}

/* Deskripsi di bawah tulisan 'Best Seller' */
.product-section-description {
    color: black;
    text-align: center;
    font-size: 12px;
    width:45%;
    margin-top: 5px;
}














































/* Buat tombol log in dan regist */
.btn {
    display: block;
    width: 100%;
    margin-top: 1rem;
    border-radius: .5rem;
    padding: 1rem 3rem;
    font-size: 2rem;
    color: var(--white);
    background-color: var(--pink);
    cursor: pointer;
    text-transform: capitalize;
}
.btn:hover {
    background-color: var(--green);
}



/* Buat tulisan logo D Pretty Stuffs di pojok kiri atas*/
.header .flex .logo {
    font-size: 2.5rem;
    color: var(--pink);
}

/* Buat pilihan-pilihan tombol menu dll. */
.header .flex .navbar a {
    margin:0 1rem;
    font-size: 2rem;
    color: var(--pink);
}

/* Buat tombol menu dll. bereaksi saat disentuh kursor */
.header .flex .navbar a:hover {
    text-decoration: underline;
    color: var(--green);
}

/* Buat icon-icon di pojok kanan atas */
.header .flex .icons div {
    font-size: 2.5rem;
    color: var(--pink);
    cursor: pointer;
    margin-left: 1.7rem;
}

.header .flex .icons div:hover {
    color: var(--green);
}

.header .flex .icons div span {
    font-size: 1.7rem;
}

.header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    z-index: 1000;
}

.header .flex {
 display: flex;
 align-items: center; 
 justify-content: space-between;  
 position: relative;
}

/* Buat kolom log in atau regist pengguna */
.user-account {
    position: fixed;
    top: 6.5rem; 
    right: -100%;
    width: 100%;
    height: calc(100vh - 6.5rem);
    background-color: var(--white);
    z-index: 1100;
    overflow-y: auto;
    transition: right .4s ease;
    /* tadi overflownyah visible */
}

/* Buat masuk ke laman log in dan regist */
.user-account.active {
    right: 0;
}

/* Buat laman belum ada kepemilikan akun */
.user-account #close-account {
    text-align: right;
    margin-bottom: 2rem;
}

.user-account #close-account span {
    cursor: pointer;
    font-size: 2.5rem;
    color: var(--green);
    text-decoration: underline;
}

.user-account #close-account span:hover {
    color: var(--pink);
}

.user-account .user {
    padding: 1.5rem;
    text-align: center;
    background-color: var(--light-bg);
    border-radius: .5rem;
}

.user-account .user p {
    font-size: 2rem;
    color: var(--pink);
}

/* Buat warna yang muncul waktu tombol close dipencet */
.user-account .user p span {
    color: red;
}


.user-account .display-products {
    padding: 2rem;
    text-align: center;
    background-color: var(--light-bg);
    border-radius: 5rem;
    margin: 2rem 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1.5rem;
}

.user-account .display-products p {
    padding: 1rem 2.5rem;
    font-size: 2rem;
    color: var(--light-color);
    background-color: var(--white);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}

/* Warna di harga */
.user-account .display-products p span {
    color: var(--green);
}

/* Jarak kolom log in dan regist */
.user-account .flex {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    /* Buat nyesuain ukuran box login dan regist sama kolom username dan password*/
    align-items: flex-start;
}

/* Posisi kolom log in dan regist diubah jadi kanan-kiri, bukan atas-bawah + Penambahan background transparan */
.user-account .flex form {
    flex: 1 1 40rem;
    border-radius: .5rem;
    padding: 2rem;
    background-color: var(--light-bg);
}

/* Buat gedein tulisan Log in dan regist */
.user-account .flex form h3 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    text-align: center;
    color: var(--pink);
}

/* Box/kolom log in dan scrollbar */
.user-account .flex form .box {
    width: 100%;
    margin: 1rem 0;
    border-radius: .5rem;
    background-color: var(--white);
    padding: 1.4rem;
    font-size: 1.8rem;
    color: var(--pink);
}


/* <!-- Kolom Artikel --> */
.blog-container {
    padding: 40px 60px;
}
.section-title {
    font-size: 26px;
    color: var(--pink);
    text-align: center;
    margin-bottom: 8px;
}
.intro-text {
    text-align: center;
    color: black;
    margin-bottom: 30px;
    font-size: 15px;
}

/* Blog Cart */
.blog-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-top: 20px;
}
.blog-card {
    background: var(--white);
    border: 1px solid deeppink;
    border-radius: 14px ;
    overflow: hidden;
    text-align: center;
    transition: 0.3s ease;
    padding-bottom: 20px;
}
.blog-card:hover {
    border-color: var(--green);
    transform: translateY(-4x);
    box-shadow: 0px 4px 15px black;
}
.blog-card img {
    width: 100%;
    height: 190px;
    object-fit: cover;
}
.blog-card h3 {
    margin: 15px 15px 10px;
    font-size: 18px;
    color: deeppink;
}
.blog-card p {
    font-size: 14px;
    color: black;
    margin: 0 18px 15px;
}

/* Read more */
.read-more {
    display: inline-block;
    background: var(--pink);
    color: white;
    padding: 8px 18px;
    border-radius: 8px;
    font-size: 14px;
    text-decoration: none;
    transition: 0.3s;
}
.read-more:hover {
    background: chartreuse;
}




/* Footer */
footer {
    background-color: var(--pink);
    text-align: center;
    padding: 30px;
    color: purple;
    width: 100%;
    margin-top: 100px;
}

#footer-top {
    padding: 20px;
    width: 60%;
    margin: auto;
}

#footer-socials-wrapper {
    padding: 40px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.footer-social {
    display: flex;
    place-items: center;
}

.footer-social span {
    margin-left: 20px;
    font-size: 16px;
}

#footer-bottom {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    border-top: 1px solid rgb(12, 11, 11);
    padding-top: 30px;
    margin-top: 20px;
}

#footer-bottom ul {
    list-style: none;
    display: flex;
}

/* Footer bagian home, dsb. */
#footer-bottom a {
    margin-right: 20px;
    text-decoration: none;
    color: purple;
    transition: 0.3s ease-in-out;
    font-size: 20px;
}

#footer-bottom a:hover {
    color: deeppink;

}