@import url(https://fonts.googleapis.com/css2?family=Tagesschrift&display=swap);

/* HEADER */

:root{
    --pink: #ff9fda;
    --green: #9fffb7;
    --white: #fff;
    --light-bg: #f5f5f5;
    --light-color: #666;
    --border:.1rem solid var(--light-color);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
    font-family: 'Tagesschrift', system-ui;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition: .2s linear;
}

::-webkit-scrollbar{
    width: 1rem;
    height: .5rem;
}

::-webkit-scrollbar-track{
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    background-color: var(--pink);
}






html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6.5rem;
}

body{
    background: var(--light-bg)
}

section{
    padding: 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

/* Buat tombol log in dan regist */
.btn {
    display: block;
    width: 100%;
    margin-top: 1rem;
    border-radius: .5rem;
    padding: 1rem 3rem;
    font-size: 2rem;
    color: var(--white);
    background-color: var(--pink);
    cursor: pointer;
    text-transform: capitalize;
}
.btn:hover {
    background-color: var(--green);
}



/* Buat tulisan logo D Pretty Stuffs di pojok kiri atas*/
.header .flex .logo {
    font-size: 2.5rem;
    color: var(--pink);
}

/* Buat pilihan-pilihan tombol menu dll. */
.header .flex .navbar a {
    margin:0 1rem;
    font-size: 2rem;
    color: var(--pink);
}

/* Buat tombol menu dll. bereaksi saat disentuh kursor */
.header .flex .navbar a:hover {
    text-decoration: underline;
    color: var(--green);
}

/* Buat icon-icon di pojok kanan atas */
.header .flex .icons div {
    font-size: 2.5rem;
    color: var(--pink);
    cursor: pointer;
    margin-left: 1.7rem;
}

.header .flex .icons div:hover {
    color: var(--green);
}

.header .flex .icons div span {
    font-size: 1.7rem;
}

.header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    z-index: 1000;
}

.header .flex {
 display: flex;
 align-items: center; 
 justify-content: space-between;  
 position: relative;
}

/* Buat tulisan logo D Pretty Stuffs di pojok kanan atas*/
.header .flex .logo {
    font-size: 2.5rem;
    color: var(--pink);
}


/* Buat pilihan-pilihan tombol menu dll. */
.header .flex .navbar a {
    margin:0 1rem;
    font-size: 2rem;
    color: var(--pink);
}

/* Buat tombol menu dll. bereaksi saat disentuh kursor */
.header .flex .navbar a:hover {
    text-decoration: underline;
    color: var(--green);
}

/* Buat icon-icon di pojok kiri atas */
.header .flex .icons div {
    font-size: 2.5rem;
    color: var(--pink);
    cursor: pointer;
    margin-left: 1.7rem;
}

.header .flex .icons div:hover {
    color: var(--green);
}

.header .flex .icons div span {
    font-size: 1.7rem;
}


/* LOGO D Pretty Stuffs */
.dps {
  display: flex;
  justify-content: left;   /*  biar posisi gambar di tengah secara horizontal */
  align-items: center;       /* biar posisi di tengah secara vertikal */
  height: 100vh;             /* biar tinggi area slide satu layar penuh */
}

.dps .images img {
  width: 300px;
  height: auto;
  margin-top: 50px;
}





/* Buat ukuran gambar produk new arrivals */
.promo-box img {
 width: 500px;     
    height: auto;
    object-fit: contain;   
}

/* Supaya foto dan keterangan barang new arrivals bersampingan dan ada di tengah */
.promo-container {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
}

/* Buat box untuk tulisan di samping barang new arrivals */
.promo-box {
    width: 68%;
    height: 450px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 10px;
    margin: 50px;
    overflow: hidden;
}

/* Buat settingan gambar produk new arrivals*/
.product-image {
    display: flex;
    justify-content: center;
    place-items: center;
    padding: 40px;
    width: 100%;
}

.product-image img {
    width: 90%;
}

/* Buat rapihin teks dan kasih warna ke box untuk tulisan di samping barang new arrivals */
.promo-content {
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: deeppink;
}

/* Untuk settingan warna, ukuran font. dll pada tulisan di box samping barang new arrivals */
/* Tulisan 'New Arrivsls */
.promo-content h1 {
    color: white;
    font-size: 22px;
    font-weight: 500;
}

/* Tulisan 'Pinky Hat' */
.promo-content h2 {
    color: var(--green);
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;
}

/* Tulisan keterangan promosi produk new arrivals */
.promo-content p {
    color: white;
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 30px;
}

/* Buat tombol 'Shop Now' di kolom promosi barang new arrivals */
.promo-content button.green-button {
    padding: 14px 30px;
    background-color: var(--green);
    color: deeppink;
    font-size: 17px;
    font-weight: 600;
    border: 0;
    border-radius: 30px;
    transition: 0.4s ease-in-out;
}

.promo-content button.green-button:hover {
    color: var(--green);
    background-color: white;
}






/* Buat produk best seller */
.product-section-container {
    
    margin-top: 70px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    place-items: center;
}

/* Buat ukuran gambar produk best seller */
.product-section-container img {
    width: 300px;     
    height: auto;
    object-fit: contain;
}

/* Settingan warna dan font tulisan 'Best Seller' */
.product-section-container h1 {
    color: deeppink;
    font-weight: 500;
    font-size: 50px;
}

/* Deskripsi di bawah tulisan 'Best Seller' */
.product-section-description {
    color: black;
    text-align: center;
    font-size: 12px;
    width:45%;
    margin-top: 5px;
}

/* Buat sejajarin 3 produk best seller */
ul.product-section-items-wrapper {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 60px;
    width: 90%;
}

/* Supaya per-item produk di atas kotak yang ada bayangannya */
.product-item {
    max-width: 280px;
    border-radius: 7px;
    margin: 20px;
    overflow: hidden;
    box-shadow: 0 30px 50px black;
}

/* Setingan buat tampilan kotak produknya */
.product-image {
    height: 210px;
    display: flex;
    justify-content: center;
    place-items: center;
    padding: 30px;
}

/* Ukuran kotak gambarnya supaya jelas (gak gepeng) */
.product-image img {
    height: 100%;
}

/* Settingan teks nama dan keterangan produk */
.product-text {
    text-align: center;
    padding: 20px;
}

.product-title {
    color: purple;
    font-size: 18px;
    font-weight: 500;
}

/* Buat sejajarin harga dan tombol beli */
.product-purchase {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* Buat warna tulisan harga */
.product-price {
    font-size: 18px;
    color: darkgreen;
    font-weight: 500;
}

/* Settingan buat tombol 'Add To Cart' */
button.add-to-cart {
    padding: 7px 21px;
    border-radius: 7px;
    font-size: 16px;
    transition: 0.4s ease-in-out;
}

button.add-to-cart:hover {
    color: var(--green);
    background-color: deeppink;
}








/* Footer */
footer {
    background-color: var(--pink);
    text-align: center;
    padding: 30px;
    color: purple;
    width: 100%;
    margin-top: 100px;
}

#footer-top {
    padding: 20px;
    width: 60%;
    margin: auto;
}

#footer-socials-wrapper {
    padding: 40px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.footer-social {
    display: flex;
    place-items: center;
}

.footer-social span {
    margin-left: 20px;
    font-size: 16px;
}

#footer-bottom {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    border-top: 1px solid rgb(12, 11, 11);
    padding-top: 30px;
    margin-top: 20px;
}

#footer-bottom ul {
    list-style: none;
    display: flex;
}

/* Footer bagian home, dsb. */
#footer-bottom a {
    margin-right: 20px;
    text-decoration: none;
    color: purple;
    transition: 0.3s ease-in-out;
    font-size: 20px;
}

#footer-bottom a:hover {
    color: deeppink;

}





/* LAMAN LOG IN DAN REGISTRASI */
/* Buat kolom log in atau regist pengguna */
.user-account {
    position: fixed;
    top: 6.5rem; 
    right: -100%;
    width: 100%;
    height: calc(100vh - 6.5rem);
    background-color: var(--white);
    z-index: 1100;
    overflow-y: auto;
    transition: right .4s ease;

}

/* Buat masuk ke laman log in dan regist */
.user-account.active {
    right: 0;
}

/* Buat laman belum ada kepemilikan akun */
.user-account #close-account {
    text-align: right;
    margin-bottom: 2rem;
}

.user-account #close-account span {
    cursor: pointer;
    font-size: 2.5rem;
    color: var(--green);
    text-decoration: underline;
}

.user-account #close-account span:hover {
    color: var(--pink);
}

.user-account .user {
    padding: 1.5rem;
    text-align: center;
    background-color: var(--light-bg);
    border-radius: .5rem;
}

.user-account .user p {
    font-size: 2rem;
    color: var(--pink);
}

/* Buat warna yang muncul waktu tombol close dipencet */
.user-account .user p span {
    color: red;
}

/* Buat display products */

.user-account .display-products {
    padding: 2rem;
    text-align: center;
    background-color: var(--light-bg);
    border-radius: 5rem;
    margin: 2rem 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1.5rem;
}

.user-account .display-products p {
    padding: 1rem 2.5rem;
    font-size: 2rem;
    color: var(--light-color);
    background-color: var(--white);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}

/* Warna di harga */
.user-account .display-products p span {
    color: var(--green);
}

/* Jarak kolom log in dan regist */
.user-account .flex {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    /* Buat nyesuain ukuran box login dan regist sama kolom username dan password*/
    align-items: flex-start;
}

/* Posisi kolom log in dan regist diubah jadi kanan-kiri, bukan atas-bawah + Penambahan background transparan */
.user-account .flex form {
    flex: 1 1 40rem;
    border-radius: .5rem;
    padding: 2rem;
    background-color: var(--light-bg);
}

/* Buat gedein tulisan Log in dan regist */
.user-account .flex form h3 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    text-align: center;
    color: var(--pink);
}

/* Box/kolom log in dan scrollbar */
.user-account .flex form .box {
    width: 100%;
    margin: 1rem 0;
    border-radius: .5rem;
    background-color: var(--white);
    padding: 1.4rem;
    font-size: 1.8rem;
    color: var(--pink);
}